aiohappyeyeballs
aiohttp
aiosignal
argon2-cffi
argon2-cffi-bindings
asgiref
bcrypt
Django
django-admin-list-filter-dropdown
django-cors-headers
django-import-export
frozenlist
geoip2
gunicorn
idna
lxml
maxminddb
multidict
netaddr
numpy
pandas
pillow
python-dateutil
python-docx
pytz
requests
tzdata
urllib3
whitenoise
xlrd
xlsxwriter
xmltodict
yarl
